<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">

.tdStyle
{
background-image:url('{{ STATIC_URL }}img.jpg');
background-repeat:no-repeat;
background-size:100%;
}
</style>
	</style>
</head>
<body>

<head>
  <title>Bootstrap Example</title>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RescueU</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/volunteer">VOLUNTEERS</a></li>
	<li><a href="/donors">DONORS</a></li>
	<li><a href="/users/signup">SIGNUP</a></li>
	<li><a href="/users/sos">SOS Email</a></li>
	<li><a href="/hospitals">Hospitals</a></li>
    </ul>
  </div>
</nav>


</body>

</body>
</html>